@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 54%, 90%);
    
}
.container{
    background-color: white;
    height:500%;
    width:60%;
    margin:30px auto 10px;
    border-radius: 10px;
    padding-bottom:10px;
    
}
.image img{
    height:50%;
    width:100%;
    padding:15px 10px;
    border-radius:20px;
}
.container h1{
    font-family: young serif;
    font-size: 25px;
    font-weight: 700;
    margin:0 0 8px 12px;
}
.container p{
    font-family: outfit;
    font-size: 14px;
    text-align: left;
    margin:15px 0 0 10px;
    
}
.list{
    background-color: rgba(255, 182, 193, 0.249);
    border-radius: 10px;
    padding:10px;
    margin:15px 15px 0 15px;
}
.list h5{
    font-family: outfit;
    font-size:15px;
    font-weight: 600;
    color:rgba(128, 0, 128, 0.886);
}
.list p,strong{
    font-size: 13px;
    margin:0 5px 10px 10px;
    color:rgba(0, 0, 0, 0.676);

}
.ingredients h2,.instructions h2,.nutrients h2{
    font-family:young serif;
    margin:15px 0 0 15px;
    color:hsla(14,45%,36%);
    font-size: 20px;
}
.ingredients p{
    font-size:11px;  
}
.ingredients span{
    color: hsl(14, 45%, 36%);
    margin-right:10px;
    margin-left:12px;
 
}

.instructions strong{
    color:rgba(0, 0, 0, 0.676);
    font-size:14.5px;
    font-weight:700;
    
}
.instructions p{
    font-size:13px;
    font-weight:430;
    line-height:2;
    margin:10px 20px 10px 20px;
}

.nutrients h6{
    font-size:13px;
    font-family:outfit;
    font-weight: 400;
    margin:15px 10px 0 20px;
    line-height: 1.5;
}
.nutrients p{
     display: flex;
    justify-content: space-between;
    align-content: center;
    margin:20px 35% 0 25px; 
}
.nutrients strong{
    color: hsl(14, 45%, 36%);
    font-weight:600;
}
.nutrients span{
    font-size:14px;
    font-weight:400;
}

 